{% extends 'medapp/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include 'medapp/patient_sidebar.html' %}
        </div>
        <div class="col-md-9">
            <h2>Create Patient Profile</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} 